{
    "presets": [
        [
            "@babel/env",
            {
                "targets": "last 2 versions"
            }
        ]
    ],
    "env": {
        "dev": {
            "plugins": [
                "istanbul"
            ]
        }
    }
}
