{% set provider = providers[provider] %}

<div data-badge-provider="{{ provider.identifier }}" class="mt-3 md:mt-4">
    <div class="text-xs font-bold py-1 uppercase text-gray-600">
        {{ provider.name }}
    </div>

    <ol class="rounded-md mt-2 shadow bg-gray-700 text-white">
        {% for item in 1..99 %}
            {% if block('item' ~ item ~ '_header') is defined %}
                <li class="px-4 md:px-6 py-4 border-b border-gray-600 last:border-none grid grid-cols-12 items-center gap-2 break-words">
                    <div class="flex items-center gap-2 sm:gap-0 col-span-12 sm:grid sm:grid-cols-12">
                        <div class="sm:col-span-1 self-start">
                            <div class="list-counter w-6 h-6 sm:w-8 sm:h-8 bg-white text-gray-700 rounded-full flex items-center justify-center font-bold font-cursive text-lg"></div>
                        </div>
                        <div class="sm:col-span-11">
                            <h4 class="font-bold text-md">{{ block('item' ~ item ~ '_header') }}</h4>
                        </div>
                    </div>
                    {% if block('item' ~ item ~ '_description') is defined %}
                        <div class="col-span-12 sm:col-span-11 sm:col-start-2">
                            {{ block('item' ~ item ~ '_description') }}
                        </div>
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ol>
</div>
