@use "~@fontsource/lato/scss/mixins" as Lato;
@use "~@fontsource/jetbrains-mono/scss/mixins" as JetBrainsMono;

@include Lato.fontFace(
    $weight: 400,
    $fontDir: "../fonts",
);
@include Lato.fontFace(
    $weight: 700,
    $fontDir: "../fonts",
);
@include JetBrainsMono.fontFace(
    $fontName: 'JetBrains Mono',
    $weight: 400,
    $fontDir: "../fonts",
);
@include JetBrainsMono.fontFace(
    $fontName: 'JetBrains Mono',
    $weight: 700,
    $fontDir: "../fonts",
);
