name: DevGuard DevSecOps
on:
  push:

permissions:
  contents: read
  packages: write

jobs:
  find-leaked-secrets:
    uses: l3montree-dev/devguard-action/.github/workflows/secret-scanning.yml@main
    with:
      asset-name: "elias-haeussler/projects/typo3-badges/assets/typo3-badges"
    secrets:
      devguard-token: "${{ secrets.DEVGUARD_TOKEN }}"

  dependency-scanning:
    uses: l3montree-dev/devguard-action/.github/workflows/software-composition-analysis.yml@main
    with:
      asset-name: "elias-haeussler/projects/typo3-badges/assets/typo3-badges"
    secrets:
      devguard-token: "${{ secrets.DEVGUARD_TOKEN }}"

  bad-practice-finder:
    uses: l3montree-dev/devguard-action/.github/workflows/static-application-security-testing.yml@main
    with:
      asset-name: "elias-haeussler/projects/typo3-badges/assets/typo3-badges"
    secrets:
      devguard-token: "${{ secrets.DEVGUARD_TOKEN }}"
