name: Tests
on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - main

jobs:
  prepare:
    name: Prepare workflow
    uses: eliashaeussler/.github/.github/workflows/pull-request.yaml@main

  # Job: Run unit tests
  tests:
    runs-on: ubuntu-latest
    needs: prepare
    if: needs.prepare.outputs.continue == 'true'
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      # Prepare environment
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.4
          tools: composer:v2
          coverage: pcov
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 24.11.1
          cache: 'npm'

      # Install dependencies
      - name: Install Composer dependencies
        uses: ramsey/composer-install@v3
      - name: Install node modules
        run: npm ci

      # Build Frontend assets (necessary for application tests)
      - name: Build Frontend assets
        run: npm run build

      # Run tests
      - name: Build coverage directory
        run: mkdir -p .build/coverage
      - name: Run tests with coverage
        run: composer test:coverage

      # Upload artifact
      - name: Fix coverage path
        working-directory: .build/coverage
        run: sed -i 's#/home/runner/work/typo3-badges/typo3-badges#${{ github.workspace }}#g' clover.xml
      - name: Upload coverage artifact
        uses: actions/upload-artifact@v5
        with:
          name: coverage
          path: .build/coverage/clover.xml
          retention-days: 7

  coverage-report:
    name: Report test coverage
    runs-on: ubuntu-latest
    needs: tests
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      # Download artifact
      - name: Download coverage artifact
        id: download
        uses: actions/download-artifact@v6
        with:
          name: coverage

      # qlty
      - name: qlty report
        uses: qltysh/qlty-action/coverage@v2
        if: env.QLTY_COVERAGE_TOKEN
        env:
          QLTY_COVERAGE_TOKEN: ${{ secrets.QLTY_COVERAGE_TOKEN }}
        with:
          token: ${{ secrets.QLTY_COVERAGE_TOKEN }}
          files: ${{ steps.download.outputs.download-path }}/clover.xml

      # Coveralls
      - name: Coveralls report
        uses: coverallsapp/github-action@v2
        with:
          file: ${{ steps.download.outputs.download-path }}/clover.xml
